@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Blog";

}
<nav class="container">
    @*<img src="logo.png" alt="Logo" class="logo">*@
    Hello
    <ul>
        <li><a asp-page="/Index">Home</a></li>
        <li><a asp-page="/Privacy">Privacy</a></li>
        <li><a href="/Identity/Account/Login">Login</a></li>
        <li><a href="/Identity/Account/Register">Register</a></li>
    </ul>
</nav>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

